{{> head}}

{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>Icy Vyserion</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat quos aperiam iste quidem laboriosam
            impedit adipisci debitis quae, voluptatum consequuntur optio consequatur sint dolorum animi alias atque
            minima. Illo, rerum?</p>
    </div>

    <div class="col-4">
        <img src="assets/img/vyserion.PNG" class="img-thumbnail">
    </div>

</div>

{{> footer}}